.wrapper {
  display: flex;
  gap: 48px;
  margin: 40px 40px;
  height: calc(100vh - 125px);
}

.otherCharacters{
    h1{
        margin-bottom: 20px;
    }
}

.otherCharactersWrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .wrapper{
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 16px 16px;
  }
  .otherCharacters{
    h1{
      margin-bottom: 12px;
    }
  }
  .otherCharactersWrapper{
    flex-direction: column;
  }
}